<section id="search" class="search-wrap">
    <h1>Find A Car</h1>
    <form action="/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="Honda, Subaru, Audi etc...">
      <input type="submit" value="Search">
    </form>
  </section>